
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="top-rated">
    <h3 class="text-center">True Networking</h3>
    <div class="row">
        <section id="demos">
            <div class="row">
                <div class="container">

                    <div class="owl-carousel owl-theme">
                        <div class="item">
                            <div>
                                <div class="user-card">
                                    <div class="top">
                                        <div class="user-photo">
                                            <div><img src="img/1.jpg" alt=""></div>
                                        </div>
                                        <div class="user-details">
                                            <h6 class="name">Susan Merly</h6>
                                            <div class="em-web">
                                                <span>susanm</span>
                                                <span>|</span>
                                                <span>merly.com</span>
                                            </div>
                                            <div class="location"><strong>Chandigarh IN</strong></div>
                                        </div>

                                    </div>
                                    <div class="center">
                                        <p>
                                            Short ribs cow pork chop itin pancetta sage jerky
                                            bresaola frankfurter swine ribeye pork loin.
                                            Leberkas ham.
                                        </p>
                                    </div>
                                    <div class="bottom">
                                        <strong>Services</strong>
                                        <span>Design . Tutor . Cook . Web . Developer . Prototype</span>
                                    </div>
                                    <div class="user-counts text-center">
                                        <a href="pricing.html" class="view-button">View Profile</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div>
                                <div class="user-card">
                                    <div class="top">
                                        <div class="user-photo">
                                            <div><img src="img/2.jpg" alt=""></div>
                                        </div>
                                        <div class="user-details">
                                            <h6 class="name">Susan Merly</h6>
                                            <div class="em-web">
                                                <span>susanm</span>
                                                <span>|</span>
                                                <span>merly.com</span>
                                            </div>
                                            <div class="location"><strong>Chandigarh IN</strong></div>
                                        </div>

                                    </div>
                                    <div class="center">
                                        <p>
                                            Short ribs cow pork chop itin pancetta sage jerky
                                            bresaola frankfurter swine ribeye pork loin.
                                            Leberkas ham.
                                        </p>
                                    </div>
                                    <div class="bottom">
                                        <strong>Services</strong>
                                        <span>Design . Tutor . Cook . Web . Developer . Prototype</span>
                                    </div>
                                    <div class="user-counts text-center">
                                        <a href="pricing.html" class="view-button">View Profile</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div>
                                <div class="user-card">
                                    <div class="top">
                                        <div class="user-photo">
                                            <div><img src="img/3.jpg" alt=""></div>
                                        </div>
                                        <div class="user-details">
                                            <h6 class="name">Susan Merly</h6>
                                            <div class="em-web">
                                                <span>susanm</span>
                                                <span>|</span>
                                                <span>merly.com</span>
                                            </div>
                                            <div class="location"><strong>Chandigarh IN</strong></div>
                                        </div>

                                    </div>
                                    <div class="center">
                                        <p>
                                            Short ribs cow pork chop itin pancetta sage jerky
                                            bresaola frankfurter swine ribeye pork loin.
                                            Leberkas ham.
                                        </p>
                                    </div>
                                    <div class="bottom">
                                        <strong>Services</strong>
                                        <span>Design . Tutor . Cook . Web . Developer . Prototype</span>
                                    </div>
                                    <div class="user-counts text-center">
                                        <a href="pricing.html" class="view-button">View Profile</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div>
                                <div class="user-card">
                                    <div class="top">
                                        <div class="user-photo">
                                            <div><img src="img/4.jpg" alt=""></div>
                                        </div>
                                        <div class="user-details">
                                            <h6 class="name">Susan Merly</h6>
                                            <div class="em-web">
                                                <span>susanm</span>
                                                <span>|</span>
                                                <span>merly.com</span>
                                            </div>
                                            <div class="location"><strong>Chandigarh IN</strong></div>
                                        </div>

                                    </div>
                                    <div class="center">
                                        <p>
                                            Short ribs cow pork chop itin pancetta sage jerky
                                            bresaola frankfurter swine ribeye pork loin.
                                            Leberkas ham.
                                        </p>
                                    </div>
                                    <div class="bottom">
                                        <strong>Services</strong>
                                        <span>Design . Tutor . Cook . Web . Developer . Prototype</span>
                                    </div>
                                    <div class="user-counts text-center">
                                        <a href="pricing.html" class="view-button">View Profile</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div>
                                <div class="user-card">
                                    <div class="top">
                                        <div class="user-photo">
                                            <div><img src="img/5.jpg" alt=""></div>
                                        </div>
                                        <div class="user-details">
                                            <h6 class="name">Susan Merly</h6>
                                            <div class="em-web">
                                                <span>susanm</span>
                                                <span>|</span>
                                                <span>merly.com</span>
                                            </div>
                                            <div class="location"><strong>Chandigarh IN</strong></div>
                                        </div>

                                    </div>
                                    <div class="center">
                                        <p>
                                            Short ribs cow pork chop itin pancetta sage jerky
                                            bresaola frankfurter swine ribeye pork loin.
                                            Leberkas ham.
                                        </p>
                                    </div>
                                    <div class="bottom">
                                        <strong>Services</strong>
                                        <span>Design . Tutor . Cook . Web . Developer . Prototype</span>
                                    </div>
                                    <div class="user-counts text-center">
                                        <a href="pricing.html" class="view-button">View Profile</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div>
                                <div class="user-card">
                                    <div class="top">
                                        <div class="user-photo">
                                            <div><img src="img/6.jpg" alt=""></div>
                                        </div>
                                        <div class="user-details">
                                            <h6 class="name">Susan Merly</h6>
                                            <div class="em-web">
                                                <span>susanm</span>
                                                <span>|</span>
                                                <span>merly.com</span>
                                            </div>
                                            <div class="location"><strong>Chandigarh IN</strong></div>
                                        </div>

                                    </div>
                                    <div class="center">
                                        <p>
                                            Short ribs cow pork chop itin pancetta sage jerky
                                            bresaola frankfurter swine ribeye pork loin.
                                            Leberkas ham.
                                        </p>
                                    </div>
                                    <div class="bottom">
                                        <strong>Services</strong>
                                        <span>Design . Tutor . Cook . Web . Developer . Prototype</span>
                                    </div>
                                    <div class="user-counts text-center">
                                        <a href="pricing.html" class="view-button">View Profile</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div>
                                <div class="user-card">
                                    <div class="top">
                                        <div class="user-photo">
                                            <div><img src="img/7.jpg" alt=""></div>
                                        </div>
                                        <div class="user-details">
                                            <h6 class="name">Susan Merly</h6>
                                            <div class="em-web">
                                                <span>susanm</span>
                                                <span>|</span>
                                                <span>merly.com</span>
                                            </div>
                                            <div class="location"><strong>Chandigarh IN</strong></div>
                                        </div>

                                    </div>
                                    <div class="center">
                                        <p>
                                            Short ribs cow pork chop itin pancetta sage jerky
                                            bresaola frankfurter swine ribeye pork loin.
                                            Leberkas ham.
                                        </p>
                                    </div>
                                    <div class="bottom">
                                        <strong>Services</strong>
                                        <span>Design . Tutor . Cook . Web . Developer . Prototype</span>
                                    </div>
                                    <div class="user-counts text-center">
                                        <a href="pricing.html" class="view-button">View Profile</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div>
                                <div class="user-card">
                                    <div class="top">
                                        <div class="user-photo">
                                            <div><img src="img/8.jpg" alt=""></div>
                                        </div>
                                        <div class="user-details">
                                            <h6 class="name">Susan Merly</h6>
                                            <div class="em-web">
                                                <span>susanm</span>
                                                <span>|</span>
                                                <span>merly.com</span>
                                            </div>
                                            <div class="location"><strong>Chandigarh IN</strong></div>
                                        </div>

                                    </div>
                                    <div class="center">
                                        <p>
                                            Short ribs cow pork chop itin pancetta sage jerky
                                            bresaola frankfurter swine ribeye pork loin.
                                            Leberkas ham.
                                        </p>
                                    </div>
                                    <div class="bottom">
                                        <strong>Services</strong>
                                        <span>Design . Tutor . Cook . Web . Developer . Prototype</span>
                                    </div>
                                    <div class="user-counts text-center">
                                        <a href="pricing.html" class="view-button">View Profile</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div>
                                <div class="user-card">
                                    <div class="top">
                                        <div class="user-photo">
                                            <div><img src="img/9.jpg" alt=""></div>
                                        </div>
                                        <div class="user-details">
                                            <h6 class="name">Susan Merly</h6>
                                            <div class="em-web">
                                                <span>susanm</span>
                                                <span>|</span>
                                                <span>merly.com</span>
                                            </div>
                                            <div class="location"><strong>San Fransisco</strong></div>
                                        </div>

                                    </div>
                                    <div class="center">
                                        <p>
                                            Short ribs cow pork chop itin pancetta sage jerky
                                            bresaola frankfurter swine ribeye pork loin.
                                            Leberkas ham.
                                        </p>
                                    </div>
                                    <div class="bottom">
                                        <strong>Services</strong>
                                        <span>Design . Tutor . Cook . Web . Developer . Prototype</span>
                                    </div>
                                    <div class="user-counts text-center">
                                        <a href="pricing.html" class="view-button">View Profile</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div>

                                <div class="user-card">
                                    <div class="top">
                                        <div class="user-photo">
                                            <div><img src="img/10.jpg" alt=""></div>
                                        </div>
                                        <div class="user-details">
                                            <h6 class="name">Susan Merly</h6>
                                            <div class="em-web">
                                                <span>susanm</span>
                                                <span>|</span>
                                                <span>merly.com</span>
                                            </div>
                                            <div class="location"><strong>San Fransisco</strong></div>
                                        </div>

                                    </div>
                                    <div class="center">
                                        <p>
                                            Short ribs cow pork chop itin pancetta sage jerky
                                            bresaola frankfurter swine ribeye pork loin.
                                            Leberkas ham.
                                        </p>
                                    </div>
                                    <div class="bottom">
                                        <strong>Services</strong>
                                        <span>Design . Tutor . Cook . Web . Developer . Prototype</span>
                                    </div>
                                    <div class="user-counts text-center">
                                        <a href="pricing.html" class="view-button">View Profile</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <script>
            $(document).ready(function() {
              $('.owl-carousel').owlCarousel({
                loop: true,
                margin: 10,
                responsiveClass: true,
                responsive: {
                  0: {
                    items: 1,
                    nav: true
                  },
                  600: {
                    items: 3,
                    nav: false
                  },
                  1000: {
                    items: 4,
                    nav: true,
                    loop: false,
                    margin: 20
                  }
                }
              })
            })
                    </script>
                </div>
            </div>
        </section>
    </div>
    <div class="row mt-3">
        <section id="demos">
            <div class="row">
                <div class="container">

                    <div class="owl-carousel owl-theme">
                        <div class="item">
                            <div>
                                <div class="user-card">
                                    <div class="top">
                                        <div class="user-photo">
                                            <div><img src="img/1.jpg" alt=""></div>
                                        </div>
                                        <div class="user-details">
                                            <h6 class="name">Susan Merly</h6>
                                            <div class="em-web">
                                                <span>susanm</span>
                                                <span>|</span>
                                                <span>merly.com</span>
                                            </div>
                                            <div class="location"><strong>Chandigarh IN</strong></div>
                                        </div>

                                    </div>
                                    <div class="center">
                                        <p>
                                            Short ribs cow pork chop itin pancetta sage jerky
                                            bresaola frankfurter swine ribeye pork loin.
                                            Leberkas ham.
                                        </p>
                                    </div>
                                    <div class="bottom">
                                        <strong>Services</strong>
                                        <span>Design . Tutor . Cook . Web . Developer . Prototype</span>
                                    </div>
                                    <div class="user-counts text-center">
                                        <a href="pricing.html" class="view-button">View Profile</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div>
                                <div class="user-card">
                                    <div class="top">
                                        <div class="user-photo">
                                            <div><img src="img/2.jpg" alt=""></div>
                                        </div>
                                        <div class="user-details">
                                            <h6 class="name">Susan Merly</h6>
                                            <div class="em-web">
                                                <span>susanm</span>
                                                <span>|</span>
                                                <span>merly.com</span>
                                            </div>
                                            <div class="location"><strong>Chandigarh IN</strong></div>
                                        </div>

                                    </div>
                                    <div class="center">
                                        <p>
                                            Short ribs cow pork chop itin pancetta sage jerky
                                            bresaola frankfurter swine ribeye pork loin.
                                            Leberkas ham.
                                        </p>
                                    </div>
                                    <div class="bottom">
                                        <strong>Services</strong>
                                        <span>Design . Tutor . Cook . Web . Developer . Prototype</span>
                                    </div>
                                    <div class="user-counts text-center">
                                        <a href="pricing.html" class="view-button">View Profile</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div>
                                <div class="user-card">
                                    <div class="top">
                                        <div class="user-photo">
                                            <div><img src="img/3.jpg" alt=""></div>
                                        </div>
                                        <div class="user-details">
                                            <h6 class="name">Susan Merly</h6>
                                            <div class="em-web">
                                                <span>susanm</span>
                                                <span>|</span>
                                                <span>merly.com</span>
                                            </div>
                                            <div class="location"><strong>Chandigarh IN</strong></div>
                                        </div>

                                    </div>
                                    <div class="center">
                                        <p>
                                            Short ribs cow pork chop itin pancetta sage jerky
                                            bresaola frankfurter swine ribeye pork loin.
                                            Leberkas ham.
                                        </p>
                                    </div>
                                    <div class="bottom">
                                        <strong>Services</strong>
                                        <span>Design . Tutor . Cook . Web . Developer . Prototype</span>
                                    </div>
                                    <div class="user-counts text-center">
                                        <a href="pricing.html" class="view-button">View Profile</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div>
                                <div class="user-card">
                                    <div class="top">
                                        <div class="user-photo">
                                            <div><img src="img/4.jpg" alt=""></div>
                                        </div>
                                        <div class="user-details">
                                            <h6 class="name">Susan Merly</h6>
                                            <div class="em-web">
                                                <span>susanm</span>
                                                <span>|</span>
                                                <span>merly.com</span>
                                            </div>
                                            <div class="location"><strong>Chandigarh IN</strong></div>
                                        </div>

                                    </div>
                                    <div class="center">
                                        <p>
                                            Short ribs cow pork chop itin pancetta sage jerky
                                            bresaola frankfurter swine ribeye pork loin.
                                            Leberkas ham.
                                        </p>
                                    </div>
                                    <div class="bottom">
                                        <strong>Services</strong>
                                        <span>Design . Tutor . Cook . Web . Developer . Prototype</span>
                                    </div>
                                    <div class="user-counts text-center">
                                        <a href="pricing.html" class="view-button">View Profile</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div>
                                <div class="user-card">
                                    <div class="top">
                                        <div class="user-photo">
                                            <div><img src="img/5.jpg" alt=""></div>
                                        </div>
                                        <div class="user-details">
                                            <h6 class="name">Susan Merly</h6>
                                            <div class="em-web">
                                                <span>susanm</span>
                                                <span>|</span>
                                                <span>merly.com</span>
                                            </div>
                                            <div class="location"><strong>Chandigarh IN</strong></div>
                                        </div>

                                    </div>
                                    <div class="center">
                                        <p>
                                            Short ribs cow pork chop itin pancetta sage jerky
                                            bresaola frankfurter swine ribeye pork loin.
                                            Leberkas ham.
                                        </p>
                                    </div>
                                    <div class="bottom">
                                        <strong>Services</strong>
                                        <span>Design . Tutor . Cook . Web . Developer . Prototype</span>
                                    </div>
                                    <div class="user-counts text-center">
                                        <a href="pricing.html" class="view-button">View Profile</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div>
                                <div class="user-card">
                                    <div class="top">
                                        <div class="user-photo">
                                            <div><img src="img/6.jpg" alt=""></div>
                                        </div>
                                        <div class="user-details">
                                            <h6 class="name">Susan Merly</h6>
                                            <div class="em-web">
                                                <span>susanm</span>
                                                <span>|</span>
                                                <span>merly.com</span>
                                            </div>
                                            <div class="location"><strong>Chandigarh IN</strong></div>
                                        </div>

                                    </div>
                                    <div class="center">
                                        <p>
                                            Short ribs cow pork chop itin pancetta sage jerky
                                            bresaola frankfurter swine ribeye pork loin.
                                            Leberkas ham.
                                        </p>
                                    </div>
                                    <div class="bottom">
                                        <strong>Services</strong>
                                        <span>Design . Tutor . Cook . Web . Developer . Prototype</span>
                                    </div>
                                    <div class="user-counts text-center">
                                        <a href="pricing.html" class="view-button">View Profile</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div>
                                <div class="user-card">
                                    <div class="top">
                                        <div class="user-photo">
                                            <div><img src="img/7.jpg" alt=""></div>
                                        </div>
                                        <div class="user-details">
                                            <h6 class="name">Susan Merly</h6>
                                            <div class="em-web">
                                                <span>susanm</span>
                                                <span>|</span>
                                                <span>merly.com</span>
                                            </div>
                                            <div class="location"><strong>Chandigarh IN</strong></div>
                                        </div>

                                    </div>
                                    <div class="center">
                                        <p>
                                            Short ribs cow pork chop itin pancetta sage jerky
                                            bresaola frankfurter swine ribeye pork loin.
                                            Leberkas ham.
                                        </p>
                                    </div>
                                    <div class="bottom">
                                        <strong>Services</strong>
                                        <span>Design . Tutor . Cook . Web . Developer . Prototype</span>
                                    </div>
                                    <div class="user-counts text-center">
                                        <a href="pricing.html" class="view-button">View Profile</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div>
                                <div class="user-card">
                                    <div class="top">
                                        <div class="user-photo">
                                            <div><img src="img/8.jpg" alt=""></div>
                                        </div>
                                        <div class="user-details">
                                            <h6 class="name">Susan Merly</h6>
                                            <div class="em-web">
                                                <span>susanm</span>
                                                <span>|</span>
                                                <span>merly.com</span>
                                            </div>
                                            <div class="location"><strong>Chandigarh IN</strong></div>
                                        </div>

                                    </div>
                                    <div class="center">
                                        <p>
                                            Short ribs cow pork chop itin pancetta sage jerky
                                            bresaola frankfurter swine ribeye pork loin.
                                            Leberkas ham.
                                        </p>
                                    </div>
                                    <div class="bottom">
                                        <strong>Services</strong>
                                        <span>Design . Tutor . Cook . Web . Developer . Prototype</span>
                                    </div>
                                    <div class="user-counts text-center">
                                        <a href="pricing.html" class="view-button">View Profile</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div>
                                <div class="user-card">
                                    <div class="top">
                                        <div class="user-photo">
                                            <div><img src="img/9.jpg" alt=""></div>
                                        </div>
                                        <div class="user-details">
                                            <h6 class="name">Susan Merly</h6>
                                            <div class="em-web">
                                                <span>susanm</span>
                                                <span>|</span>
                                                <span>merly.com</span>
                                            </div>
                                            <div class="location"><strong>San Fransisco</strong></div>
                                        </div>

                                    </div>
                                    <div class="center">
                                        <p>
                                            Short ribs cow pork chop itin pancetta sage jerky
                                            bresaola frankfurter swine ribeye pork loin.
                                            Leberkas ham.
                                        </p>
                                    </div>
                                    <div class="bottom">
                                        <strong>Services</strong>
                                        <span>Design . Tutor . Cook . Web . Developer . Prototype</span>
                                    </div>
                                    <div class="user-counts text-center">
                                        <a href="pricing.html" class="view-button">View Profile</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div>

                                <div class="user-card">
                                    <div class="top">
                                        <div class="user-photo">
                                            <div><img src="img/10.jpg" alt=""></div>
                                        </div>
                                        <div class="user-details">
                                            <h6 class="name">Susan Merly</h6>
                                            <div class="em-web">
                                                <span>susanm</span>
                                                <span>|</span>
                                                <span>merly.com</span>
                                            </div>
                                            <div class="location"><strong>San Fransisco</strong></div>
                                        </div>

                                    </div>
                                    <div class="center">
                                        <p>
                                            Short ribs cow pork chop itin pancetta sage jerky
                                            bresaola frankfurter swine ribeye pork loin.
                                            Leberkas ham.
                                        </p>
                                    </div>
                                    <div class="bottom">
                                        <strong>Services</strong>
                                        <span>Design . Tutor . Cook . Web . Developer . Prototype</span>
                                    </div>
                                    <div class="user-counts text-center">
                                        <a href="pricing.html" class="view-button">View Profile</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <script>
            $(document).ready(function() {
              $('.owl-carousel').owlCarousel({
                loop: true,
                margin: 10,
                responsiveClass: true,
                responsive: {
                  0: {
                    items: 1,
                    nav: true
                  },
                  600: {
                    items: 3,
                    nav: false
                  },
                  1000: {
                    items: 4,
                    nav: true,
                    loop: false,
                    margin: 20
                  }
                }
              })
            })
                    </script>
                </div>
            </div>
        </section>
    </div>
</div>
