
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="top-rated">

    <div class="row">

        <section>
            <div class="row">
                <div class="col-md-6"><a href="#">Home</a> <i class="fa fa-angle-right" aria-hidden="true"></i> <a href="#"><strong class="blue">Doctor</strong></a></div> <div class="col-md-6 text-right"><a href="#"><i class="fa fa-angle-left" aria-hidden="true"></i> prev</a> | <a href="#">next <i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
                <div class="container">
                    <div class="user-card rounded pd-bottom mt-top clearfix">
                        <div class="col-md-6 float-left">

                            <a href="#" class="float-left profile-right"><img src="img/6.jpg" class="rounded-circle" width="150" height="150" /></a>
                            <div class="float-left m0-5">
                                <a href="#">
                                    <h1 class="blue heading-size">Dr. Neha Sharma</h1>
                                    <span>Physiotherapist</span>
                                </a>
                                <hr>
                                <a href="#" class="info send-request">Send Request</a>
                            </div>

                        </div>
                        <div class="col-md-6 float-left header-info-profile m0-5">
                            <span class="clearfix header-row-div"><label>Email Id:</label> nehasharma29ns@gmail.com</span>
                            <span class="clearfix header-row-div"><label>Phone:</label> +91-9464280005</span>
                            <span class="clearfix"><label>Social Media:</label> <a href="#" class="social-media-header info"><i class="fa fa-facebook" aria-hidden="true"></i></a><a href="#" class="social-media-header info"><i class="fa fa-twitter" aria-hidden="true"></i></a><a href="#" class="social-media-header info"><i class="fa fa-linkedin" aria-hidden="true"></i></a><a href="#" class="social-media-header info"><i class="fa fa-instagram" aria-hidden="true"></i></a><a href="#" class="social-media-header info"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></span>
                        </div>

                    </div>

                </div>
            </div>
        </section>
    </div>
    <div class="row mt-3">
        <section>
            <div class="row">
                <div class="container">
                    <div class="row">
                        <div class="col-9">
                            <h2>About Me</h2>
                            <p>Dr. Neha Sharma has been working as Physiotherapist since 2010, She is registered Physiotherapist with Indian Association of Physiotherapist.</p>

                            <div class="user-card rounded pd-bottom pd-top mt-top clearfix float-left">
                                <h4 class="l-r-spc profile-hd"><img src="img/icon-ed.png" /> Education</h4>
                                <hr>
                                <div class="l-r-spc">
                                    <ul class="list-profile">
                                        <li>
                                            <h3>Bachelor in Physiotherapy BPT  <span class="blue">(Jan, 2005 - Jan, 2009)</span></h3>
                                            <p>Physiotherapy in Medical Conditions ,Physiotherapy in Surgical Conditions including Cardiac surgery, Gynaecology and Obstetrics, Paediatrics and Geriatrics, Orthopaedics, Biomechanics ,Human Anatomy ,Physiology Electrotherapy and Exercise Prescription.</p>
                                        </li>
                                        <li>
                                            <h3>Bachelor in Physiotherapy BPT  <span class="blue">(Jan, 2005 - Jan, 2009)</span></h3>
                                            <p>Physiotherapy in Medical Conditions ,Physiotherapy in Surgical Conditions including Cardiac surgery, Gynaecology and Obstetrics, Paediatrics and Geriatrics, Orthopaedics, Biomechanics ,Human Anatomy ,Physiology Electrotherapy and Exercise Prescription.</p>
                                        </li>
                                    </ul>
                                </div>
                            </div><!-- PrivateSquares List -->
                            <div class="user-card rounded pd-bottom pd-top mt-top clearfix float-left">
                                <h4 class="l-r-spc profile-hd"><img src="img/icon-ps.png" /> Professional Experience</h4>
                                <hr>
                                <div class="l-r-spc">
                                    <ul class="list-profile">
                                        <li>
                                            <h3>Physiotherapist (Arti Physiotherapy Centre)  <span class="blue">(Jan, 2005 - Jan, 2009)</span></h3>
                                            <p>Physiotherapy in Medical Conditions ,Physiotherapy in Surgical Conditions including Cardiac surgery, Gynaecology and Obstetrics, Paediatrics and Geriatrics, Orthopaedics, Biomechanics ,Human Anatomy ,Physiology Electrotherapy and Exercise Prescription.</p>
                                        </li>
                                        <li>
                                            <h3>Physiotherapist (Panchkula Welfare Trust(REGD)  <span class="blue">(Jan, 2005 - Jan, 2009)</span></h3>
                                            <p>Physiotherapy in Medical Conditions ,Physiotherapy in Surgical Conditions including Cardiac surgery, Gynaecology and Obstetrics, Paediatrics and Geriatrics, Orthopaedics, Biomechanics ,Human Anatomy ,Physiology Electrotherapy and Exercise Prescription.</p>
                                        </li>
                                    </ul>
                                </div>
                            </div><!-- PrivateSquares List -->
                            <div class="user-card rounded pd-bottom pd-top mt-top clearfix float-left">
                                <h4 class="l-r-spc profile-hd"><img src="img/icon-gl.png" /> Portfolio + Gallery </h4>
                                <hr>
                                <div class="l-r-spc">
                                    <div class="scrollbar-1" id="style-1">
                                        <div class="force-overflow">
                                            <div class="col-12">
                                                <div class="row port">
                                                    <div class="col-4">
                                                        <a href="#" class="ps-pop">
                                                            <img src="img/port.jpg" alt="" class="img-fluid" />
                                                        </a>
                                                        <h6 class="blue m0-5">Memberships of sci...</h6>
                                                        <p>Lorem Ipsum is simply dummy text of the printing.</p>
                                                    </div><!-- Portfolio Section ends here -->
                                                    <div class="col-4">
                                                        <a href="#" class="ps-pop">
                                                            <img src="img/port1.jpg" alt="" class="img-fluid" />
                                                        </a>
                                                        <h6 class="blue m0-5">Memberships of sci...</h6>
                                                        <p>Lorem Ipsum is simply dummy text of the printing.</p>
                                                    </div><!-- Portfolio Section ends here -->
                                                    <div class="col-4">
                                                        <a href="#" class="ps-pop">
                                                            <img src="img/port2.jpg" alt="" class="img-fluid" />
                                                        </a>
                                                        <h6 class="blue m0-5">Memberships of sci...</h6>
                                                        <p>Lorem Ipsum is simply dummy text of the printing.</p>
                                                    </div><!-- Portfolio Section ends here -->
                                                    <div class="col-4">
                                                        <a href="#" class="ps-pop">
                                                            <img src="img/port3.jpg" alt="" class="img-fluid" />
                                                        </a>
                                                        <h6 class="blue m0-5">Memberships of sci...</h6>
                                                        <p>Lorem Ipsum is simply dummy text of the printing.</p>
                                                    </div><!-- Portfolio Section ends here -->
                                                    <div class="col-4">
                                                        <a href="#" class="ps-pop">
                                                            <img src="img/port4.jpg" alt="" class="img-fluid" />
                                                        </a>
                                                        <h6 class="blue m0-5">Memberships of sci...</h6>
                                                        <p>Lorem Ipsum is simply dummy text of the printing.</p>
                                                    </div><!-- Portfolio Section ends here -->
                                                    <div class="col-4">
                                                        <a href="#" class="ps-pop">
                                                            <img src="img/port5.jpg" alt="" class="img-fluid" />
                                                        </a>
                                                        <h6 class="blue m0-5">Memberships of scie...</h6>
                                                        <p>Lorem Ipsum is simply dummy text of the printing.</p>
                                                    </div><!-- Portfolio Section ends here -->
                                                    <div class="col-4">
                                                        <a href="#" class="ps-pop">
                                                            <img src="img/port.jpg" alt="" class="img-fluid" />
                                                        </a>
                                                        <h6 class="blue m0-5">Memberships of sci...</h6>
                                                        <p>Lorem Ipsum is simply dummy text of the printing.</p>
                                                    </div><!-- Portfolio Section ends here -->
                                                    <div class="col-4">
                                                        <a href="#" class="ps-pop">
                                                            <img src="img/port1.jpg" alt="" class="img-fluid" />
                                                        </a>
                                                        <h6 class="blue m0-5">Memberships of sci...</h6>
                                                        <p>Lorem Ipsum is simply dummy text of the printing.</p>
                                                    </div><!-- Portfolio Section ends here -->
                                                    <div class="col-4">
                                                        <a href="#" class="ps-pop">
                                                            <img src="img/port2.jpg" alt="" class="img-fluid" />
                                                        </a>
                                                        <h6 class="blue m0-5">Memberships of sci...</h6>
                                                        <p>Lorem Ipsum is simply dummy text of the printing.</p>
                                                    </div><!-- Portfolio Section ends here -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- PrivateSquares List -->
                            <div class="user-card rounded pd-bottom pd-top mt-top clearfix float-left">
                                <h4 class="l-r-spc profile-hd"><img src="img/icon-pp.png" />  Publications and Presentations </h4>
                                <hr>
                                <div class="l-r-spc">


                                    <div class="scrollbar" id="style-1">
                                        <div class="force-overflow">
                                            <ul class="list-profile">
                                                <li>
                                                    <h3>Reviewer for the Journals </h3>
                                                    <ul class="sub-ul">
                                                        <li>Ophthalmology Journal. Official Journal of American Academy of Ophthalmology </li>
                                                        <li>American Journal of Ophthalmology </li>
                                                        <li>Journal of Cataract and Refractive Surgery </li>
                                                        <li>Cornea, The Journal of Cornea And External Diseases, Lippincott </li>
                                                        <li>Indian Journal of Ophthalmology </li>
                                                        <li>Ophthalmic Surgery, Lasers & Imaging </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <h3>Reviewer for the Journals </h3>
                                                    <ul class="sub-ul">
                                                        <li>Ophthalmology Journal. Official Journal of American Academy of Ophthalmology </li>
                                                        <li>American Journal of Ophthalmology </li>
                                                        <li>Journal of Cataract and Refractive Surgery </li>
                                                        <li>Cornea, The Journal of Cornea And External Diseases, Lippincott </li>
                                                        <li>Indian Journal of Ophthalmology </li>
                                                        <li>Ophthalmic Surgery, Lasers & Imaging </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <h3>Reviewer for the Journals </h3>
                                                    <ul class="sub-ul">
                                                        <li>Ophthalmology Journal. Official Journal of American Academy of Ophthalmology </li>
                                                        <li>American Journal of Ophthalmology </li>
                                                        <li>Journal of Cataract and Refractive Surgery </li>
                                                        <li>Cornea, The Journal of Cornea And External Diseases, Lippincott </li>
                                                        <li>Indian Journal of Ophthalmology </li>
                                                        <li>Ophthalmic Surgery, Lasers & Imaging </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <h3>Reviewer for the Journals </h3>
                                                    <ul class="sub-ul">
                                                        <li>Ophthalmology Journal. Official Journal of American Academy of Ophthalmology </li>
                                                        <li>American Journal of Ophthalmology </li>
                                                        <li>Journal of Cataract and Refractive Surgery </li>
                                                        <li>Cornea, The Journal of Cornea And External Diseases, Lippincott </li>
                                                        <li>Indian Journal of Ophthalmology </li>
                                                        <li>Ophthalmic Surgery, Lasers & Imaging </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <h3>Reviewer for the Journals </h3>
                                                    <ul class="sub-ul">
                                                        <li>Ophthalmology Journal. Official Journal of American Academy of Ophthalmology </li>
                                                        <li>American Journal of Ophthalmology </li>
                                                        <li>Journal of Cataract and Refractive Surgery </li>
                                                        <li>Cornea, The Journal of Cornea And External Diseases, Lippincott </li>
                                                        <li>Indian Journal of Ophthalmology </li>
                                                        <li>Ophthalmic Surgery, Lasers & Imaging </li>
                                                    </ul>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </div><!-- PrivateSquares List -->
                            <div class="user-card rounded pd-bottom pd-top mt-top clearfix float-left bg-gray">
                                <h4 class="l-r-spc profile-hd text-white"> Skills </h4>
                                <hr>
                                <div class="l-r-spc list-s-h-l">
                                    <a href="#" class="bg-white">Photoshop</a> <a href="#" class="bg-white">HTML</a> <a href="#" class="bg-white">CSS</a> <a href="#" class="bg-white">Design Sense</a> <a href="#" class="bg-white">JavaScript and Ajax</a> <a href="#" class="bg-white">PHP, ASP, Java, Perl</a> <a href="#" class="bg-white">Photoshop</a> <a href="#" class="bg-white">Photoshop</a>

                                </div>

                            </div><!-- PrivateSquares List -->
                            <div class="user-card rounded pd-bottom pd-top mt-top clearfix float-left bg-white">
                                <h4 class="l-r-spc profile-hd"> language </h4>
                                <hr>
                                <div class="l-r-spc list-s-h-l">
                                    <a href="#" class="bg-white">Hindi</a> <a href="#" class="bg-white">Punjabi</a> <a href="#" class="bg-white">English</a>

                                </div>

                            </div><!-- PrivateSquares List -->
                            <div class="user-card rounded pd-bottom pd-top mt-top clearfix float-left">
                                <h4 class="l-r-spc profile-hd"> Hobbies </h4>
                                <hr>
                                <div class="l-r-spc list-s-h-l">
                                    <a href="#" class="bg-white"><img src="icons/basketball.png" width="100"></a>
                                    <a href="#" class="bg-white"><img src="icons/chess.png" width="100"></a>
                                    <a href="#" class="bg-white"><img src="icons/computer.png" width="100"></a>
                                    <a href="#" class="bg-white"><img src="icons/cricket.png" width="100"></a>
                                    <a href="#" class="bg-white"><img src="icons/dance.png" width="100"></a>
                                    <a href="#" class="bg-white"><img src="icons/gym.png" width="100"></a>
                                    <a href="#" class="bg-white"><img src="icons/horse-ride.png" width="100"></a>
                                    <a href="#" class="bg-white"><img src="icons/movie.png" width="100"></a>
                                    <a href="#" class="bg-white"><img src="icons/photography.png" width="100"></a>
                                    <a href="#" class="bg-white"><img src="icons/reading.png" width="100"></a>
                                    <a href="#" class="bg-white"><img src="icons/song.png" width="100"></a>
                                    <a href="#" class="bg-white"><img src="icons/swimming.png" width="100"></a>
                                    <a href="#" class="bg-white"><img src="icons/travel.png" width="100"></a>
                                    <a href="#" class="bg-white"><img src="icons/cooking.png" width="100"></a>

                                </div>

                            </div><!-- PrivateSquares List -->
                        </div>
                        <div class="col-3">
                            <div class="user-card rounded mt-top side-top-head clearfix contact-infom">
                                <div class="info side-top-head-1 text-center">
                                    <img src="img/home.png" />
                                    <h5 class="text-white m0-5 font-weight-bold">Contact Information</h5>
                                </div>
                                <div class="col-12 m0-5 specfic-spc float-left">
                                    <h6 class="font-weight-bold">CDS Physiotherapy & Health Care</h6>
                                    <p>#1244, Sector- 15, Panchkula-134109</p>
                                    <p><strong>e:</strong> neha@gmail.com</p>
                                    <p><strong>p:</strong> +91-8054158364</p>
                                    <p><strong>w:</strong> www.neha.com</p>
                                </div>

                            </div><!-- contact address ends here -->
                            <div class="user-card rounded mt-top side-top-head clearfix contact-infom">
                                <div class="info side-top-head-2 text-center">
                                    <h5 class="text-white m0-5 font-weight-bold">Contact Me</h5>
                                </div>
                                <div class="col-12 m0-5 specfic-spc float-left">
                                    <div class="form-group">
                                        <input type="text" required name="subject" placeholder="Subject" autocomplete="subject" id="subject">
                                    </div>
                                    <div class="form-group">
                                        <textarea name="msg" id="msg" rows="3" class="text-area" placeholder="Your Message Here ...."></textarea>

                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn ui-btn info">Send Message</button>
                                    </div>

                                </div>

                            </div><!-- contact address ends here -->
                            <div class="user-card rounded mt-top side-top-head clearfix">
                                <div class="info side-top-head-2 text-center">
                                    <h5 class="text-white m0-5 font-weight-bold">Work Schedule</h5>
                                </div>
                                <div class="m0-5 float-left full-width">
                                    <div class="specfic-spc-time float-left full-width">
                                        <p><span class="time-line">Mon:</span> 	04:00 PM - 07:30 PM</p>
                                        <p><span class="time-line"></span> 	04:00 PM - 07:30 PM</p>
                                    </div>
                                    <div class="specfic-spc-time float-left full-width">
                                        <p><span class="time-line">Tue:</span> 	04:00 PM - 07:30 PM</p>
                                        <p><span class="time-line"></span> 	04:00 PM - 07:30 PM</p>
                                    </div>
                                    <div class="specfic-spc-time float-left full-width">
                                        <p><span class="time-line">Wed:</span> 	04:00 PM - 07:30 PM</p>
                                        <p><span class="time-line"></span> 	04:00 PM - 07:30 PM</p>
                                    </div>
                                    <div class="specfic-spc-time float-left full-width">
                                        <p><span class="time-line">Thu:</span> 	04:00 PM - 07:30 PM</p>
                                        <p><span class="time-line"></span> 	04:00 PM - 07:30 PM</p>
                                    </div>
                                    <div class="specfic-spc-time float-left full-width">
                                        <p><span class="time-line">Fri:</span> 	04:00 PM - 07:30 PM</p>
                                        <p><span class="time-line"></span> 	04:00 PM - 07:30 PM</p>
                                    </div>
                                    <div class="specfic-spc-time float-left full-width">
                                        <p><span class="time-line">Sat:</span> 	04:00 PM - 07:30 PM</p>
                                        <p><span class="time-line"></span> 	04:00 PM - 07:30 PM</p>
                                    </div>
                                    <div class="specfic-spc-time float-left full-width">
                                        <p><span class="time-line">Sun:</span> 	Closed</p>
                                    </div>
                                </div>

                            </div><!-- contact address ends here -->
                            <div class="user-card rounded mt-top side-top-head clearfix">
                                <div class="info side-top-head-2 text-center">
                                    <h5 class="text-white m0-5 font-weight-bold">Work Schedule</h5>
                                </div>
                                <div class="m0-5 float-left pad">
                                    <img src="icons/24-hours.png" class="img-fluid" />
                                </div>

                            </div><!-- contact address ends here -->
                            <div class="user-card rounded mt-top side-top-head clearfix contact-infom">
                                <div class="info side-top-head-1 text-center">
                                    <img src="img/award.png" />
                                    <h5 class="text-white m0-5 font-weight-bold">Social Schievements, Awards</h5>
                                </div>
                                <div class="col-12 m0-5 specfic-spc float-left">
                                    <ul class="list-profile">
                                        <li><p>Women empowerment award 2013:AADHAR FOUNDATION ,NGO ,India</p></li>
                                        <li><p>Women empowerment award 2013:AADHAR FOUNDATION ,NGO ,India</p></li>
                                    </ul>
                                </div>

                            </div><!-- contact address ends here -->
                            <div class="user-card rounded mt-top side-top-head clearfix contact-infom">
                                <div class="info side-top-head-1 text-center">
                                    <h5 class="text-white m0-5 font-weight-bold">Articles</h5>
                                </div>
                                <div class="col-12 m0-5 specfic-spc float-left">
                                    <ul class="articles-list">
                                        <li>
                                            <img src="img/pen.jpg" class="img-fluid" />
                                            <a href="#">What is Physiotherapy?</a>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                        </li>
                                        <li>
                                            <img src="img/gallery_1.jpg" class="img-fluid" />
                                            <a href="#">What is Physiotherapy?</a>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                        </li>
                                        <li>
                                            <img src="img/port3.jpg" class="img-fluid" />
                                            <a href="#">What is Physiotherapy?</a>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                        </li>
                                    </ul>


                                </div>

                            </div><!-- contact address ends here -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

</div>
<div class="full-width bg-inverse">
    <div class="top-rated m-0 pad">
        <h3 class="text-center text-white">What are they saying</h3>
        <div class="row">
            <div class="col-4">
                <div class="full-width bg-faded rounded pad">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</div>
                <hr>
                <div class="full-width"><img src="img/4.jpg" class="rounded-circle float-left" width="50" height="50"><span class="float-left left-spc"><strong class="m-0 text-white">Name Here</strong><p class="text-white">sort info here</p></span></div>
            </div><!-- clients review 1 here -->
            <div class="col-4">
                <div class="full-width bg-faded rounded pad">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</div>
                <hr>
                <div class="full-width"><img src="img/10.jpg" class="rounded-circle float-left" width="50" height="50"><span class="float-left left-spc"><strong class="m-0 text-white">Name Here</strong><p class="text-white">sort info here</p></span></div>
            </div><!-- clients review 1 here -->
            <div class="col-4">
                <div class="full-width bg-faded rounded pad">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</div>
                <hr>
                <div class="full-width"><img src="img/7.jpg" class="rounded-circle float-left" width="50" height="50"><span class="float-left left-spc"><strong class="m-0 text-white">Name Here</strong><p class="text-white">sort info here</p></span></div>
            </div><!-- clients review 1 here -->
        </div>
    </div>
</div><!-- clients review -->
<div class="clearfix"></div>
</div>

