<nav class="ui-nav">
    <div class="logo"><a href="#"><img src="~/img/logo.png" /></a></div>

    <ul class="list-unstyled menu">
        <li class="list-inline-item menu-li">
            <a href="#">Articles <i class="fa fa-align-justify"></i></a>
        </li>
        <li class="list-inline-item menu-li">
            <a href="#">Business <i class="fa fa-briefcase"></i></a>
        </li>


        @*<li class="list-inline-item menu-li">
            <a href="#" class="notifs">
                <i class="fa fa-bell"></i>
                <span class="info">5</span>
            </a>
            <ul class="list-unstyled notifications">
                <li><a href="dashMessages.html">You have new mes...</a></li>
                <li><a href="dashMessages.html">Logging was complet...</a></li>
                <li><a href="dashMessages.html">You have new mes...</a></li>
                <li><a href="dashMessages.html">You have new mes...</a></li>
                <li><a href="dashMessages.html">Logging was complet...</a></li>
            </ul>
        </li>
        <li class="list-inline-item menu-li">
            <a href="dashMessages.html" class="notifs">
                <i class="fa fa-envelope"></i>
                <span class="danger">7</span>
            </a>
        </li>
        <li class="list-inline-item menu-li">
            <a href="dashProfile.html"><img src="img/avatar2.jpg" alt=""> Name</a>
        </li>*@

        <li class="list-inline-item menu-li">
            <a href="register">Sign Up<i class="fa fa-user-plus"></i></a>
        </li>
        <li class="list-inline-item menu-li">
            <a href="login">Login<i class="fa fa-sign-in"></i> </a>
        </li>
    </ul>
    <i class="fa fa-bars open-menu"></i>
</nav>