<div class="side-menu" id="side-menu">
    <div class="side-menu-c">
        <div class="side-logo">
            <img src="img/logo.png" />
            <i class="fa fa-times close-menu"></i>
        </div>
        <ul class="list-unstyled mini">
            <li><a href="index-2.html">Home</a></li>
            <li><a href="listing_one.html">Listings</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="dashboard.html">Dashboard</a></li>
            <li><a href="#" data-toggle="modal" data-target="#Modal">Account</a></li>
        </ul>
    </div>
</div>